name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
    
jobs:
    # unit-testing:
    #     name: Unit Testing
    #     runs-on: ubuntu-latest
    #     steps:
    #     - name: Checkout Repository
    #       uses: actions/checkout@v4

    #     - name: Setup NodeJS Version
    #       uses: actions/setup-node@v4
    #       with:
    #         node-version: 20
    
    #     - name: Install Dependencies
    #       run: npm install
    
    #     - name: Unit Testing
    #       run: npm test
          
    #     - name: Archive Test Result
    #       uses: actions/upload-artifact@v4
    #       with:
    #         name: Mocha-Test-Result
    #         path: test-results.xml

    build-image:
      name: build docker image
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Setup NodeJS Version
          uses: actions/setup-node@v4
          with:
            node-version: 20
    
        - name: Install Dependencies
          run: npm install
          
        - name: Log in to the Container registry
          uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: login check success
          if: success()
          run: |
            echo "loggedin to gcr"

        - name: Build and push Docker image
          #id: push
          uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
          with:
            context: .
            push: true
            #tags: ghcr.io/${{ github.actor }}/github-actions-solar-system/${{ github.sha }}
            tags: ghcr.io/github-actions-solar-system/${{ github.sha }}
            labels: myimage1

        - name: image check
          run: |
            docker image ls

        - name: test image
          run: |
            docker run -d --name my-container ghcr.io/${{ github.actor }}/github-actions-solar-system/${{ github.sha }}:myimage1

        - name: check container
          run: |
            docker container ls
            
     
     







