name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
    
jobs:
    # unit-testing:
    #     name: Unit Testing
    #     runs-on: ubuntu-latest
    #     steps:
    #     - name: Checkout Repository
    #       uses: actions/checkout@v4

    #     - name: Setup NodeJS Version
    #       uses: actions/setup-node@v4
    #       with:
    #         node-version: 20
    
    #     - name: Install Dependencies
    #       run: npm install
    
    #     - name: Unit Testing
    #       run: npm test
          
    #     - name: Archive Test Result
    #       uses: actions/upload-artifact@v4
    #       with:
    #         name: Mocha-Test-Result
    #         path: test-results.xml

    build-image:
      name: build docker image
      runs-on: ubuntu-latest
      
      permissions:
            contents: write
            packages: write

      steps:
      #   - name: Checkout Repository
      #     uses: actions/checkout@v4

      #   - name: Setup NodeJS Version
      #     uses: actions/setup-node@v4
      #     with:
      #       node-version: 20
    
      #   - name: Install Dependencies
      #     run: npm install
          
      #   - name: Log in to the Container registry
      #     uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      #     with:
      #       registry: ghcr.io
      #       username: ${{ github.actor }}
      #       password: ${{ secrets.GITHUB_TOKEN }}
            
      #   - name: login check success
      #     if: success()
      #     run: |
      #       echo "loggedin to gcr"

      #   - name: print username
      #     run: echo ${{ github.actor }}

      #   - name: Build and push Docker image
      #     #id: push
      #     uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      #     with:
      #       context: .
      #       #push: true
      #       push: true
      #       tags: ghcr.io/${{ github.actor }}/githubactionssolarsystem/${{ github.sha }}
      #       #tags: ghcr.io/parthasarathi/github-actions-solar-system
      #       labels: ${{ github.sha }}

      #   - name: image check
      #     run: |
      #       docker image ls

      #   - name: test image
      #     run: |
      #       docker run -d --name my-container ghcr.io/${{ github.actor }}/githubactionssolarsystem/${{ github.sha }}

      #   - name: check container
      #     run: |
      #       docker container ls

      #   - name: Log in to docker registry
      #     uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      #     with:
      #       username: ${{ vars.DOCKER_USERNAME }}
      #       password: ${{ secrets.DOCKER_TOKEN }}

      #   - name: Build and push Docker image to dockerhub
      #     #id: push
      #     uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      #     with:
      #       context: .
      #       push: true
      #       tags: ${{ vars.DOCKER_USERNAME }}/githubactionssolarsystem
      #       labels: ${{ github.sha }}

        - name: install kubectl on server
          uses: azure/setup-kubectl@v4
          with:
             version: 'v1.35.0' 

        - name: check kubectl installation and vesion
          run: kubectl version --client

        
        - name: Configure Kubeconfig
          uses: azure/k8s-set-context@v3
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.CLUSTER }}

        - name: Verify cluster access
          run: |
            kubectl get node

        - name: Replace Kubernetes Manifest Tokens
          uses: cschleiden/replace-tokens@v1
          with:
            tokenPrefix: '_{_'
            tokenSuffix: '_}_'
            files: 'kubernetes/development/*.yaml' # Path to your k8s files
          env:
            NAMESPACE: ${{ vars.ENV }}
            REPLICAS: ${{ vars.REPLICAS }}

        - name: check content on rewrite
          run: |
            cat /kubernetes/development/deployment.yaml



        # - name: check config file
        #   run: |
        #     cd /home/$USER/.kube
        #     ls -la

        # - name: check connectivity to cluster
        #   run: kubectl get no


































